# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.0x0A-unity-360_video_tour.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\holberton\Documents\unity_projects\0x0A-unity-360_video_tour\.idea\.idea.0x0A-unity-360_video_tour\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
